body{
    background-color: black;
}
.first{
    display: grid;
    grid-template-columns: 35% auto;
    padding: 2.5rem 0rem 0rem 6rem;
    margin: 2.5rem 0rem 0rem 6rem;
}
.foto{
    grid-column-start: 1;
    grid-column-end: 2;
    border: 1px solid #FFB800;
    padding: 7px;
}
.inicio{
    color: #FFB800;
    display: flex;
    flex-direction: column;
}
.profissao{
    color: aliceblue;
    font-size: 25px;
    margin: 0.5rem 0rem 0rem 2rem;
    padding: 0.5rem 0rem 0rem 2rem;
}
.nome{
    color: aliceblue;
    font-size: 25px;
    margin: 0rem 0rem 0rem 0rem;
}
.amarelo{
    color: #FFB800;
    font-size: 25px;
    margin: 0.5rem 0rem 0rem 2rem;
    padding: 0.5rem 0rem 0rem 2rem;
}
   
.boxs{
    margin: 1rem 0rem 0rem 2rem;
    padding: 1rem 0rem 0rem 2rem;
    display: grid;
    grid-template-columns: 25% auto; /*50% volta para a antiga */
    grid-template-rows: 25% auto; /*50% volta para a antiga */

}
.box1{
    background-color: #FFB800;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 120px;
    width: 90.010%;

}
.boxp{
    font-size: 17px;
    color: black;
    margin-top: 1rem

}
.boximg{
    margin-top: 0.5rem;
}
.box2{
    background-color: #FFB800;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 120px;
    width: 30%;
    margin-left: 3.5rem;
}
.box3{
    background-color: #FFB800;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 122px;
    width: 90.010%;
    margin-top: 4.5rem;
}
.box4{
    background-color: #FFB800;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 122px;
    width: 30%;
    margin-top: 4.5rem;
    margin-left: 3.5rem;
}
.paragrafo1{
    display: flex;
    flex-direction: row;
    border: 1px solid #FFB800;
    margin-right: 4rem;
    padding-bottom: 1rem;

}
.sobre-mim{
    color: #FFB800;
    font-size: 25px;
    margin-top: 7rem;
    margin-left: 3rem;
    margin-bottom: 1rem;
}
.p-sobre{
    color: aliceblue;
    font-size: 18px;
    width: 55%;
    margin-top: 2.5rem;
    margin-left: 5rem;
    margin-top: 8.5rem;
}
.linguagens{
    display: grid;
    grid-template-columns: 25% auto; 
    grid-template-rows: 25% auto;
    margin-top: 3rem;
}
.python{
    grid-column: 1;
    grid-row: 1;
    margin-left: 3rem;
    margin-top: 2rem;
}
.html{
    margin-left: 6rem;
    margin-top: 2rem;
}
.c{
    margin-top: 5.5rem;
    margin-left: 3rem;
}
.css{
    margin-top: 5.5rem;
    margin-left: 6.5rem;
}
.second{
    margin-left: 4rem;
}
.third{
    margin-left: 4rem;
    margin-top: 3rem;
}
.titulo-projeto{
    color: #FFB800;
    margin-bottom: 2rem;
    font-size: 20px;
}
.descricao-projeto{
    color: aliceblue;
    font-size: 20px;
    margin-top: 2rem;
}
.projetos{
    color: #FFB800;
    font-size: 25px;
    margin-top: 7rem;
    margin-left: 3rem;

}
.aba-projetos{
    display: flex;
    flex-direction: row;
    margin-left: 0rem;
    margin-top: 1rem;
    border: 1px solid #FFB800;
    margin-right: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.projeto{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 3.5rem;
}
.projetoimg{
    border: 4px solid aliceblue;
}
.projeto2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10rem;
}

.formacao{
    color: #FFB800;
    font-size: 25px;
    margin-top: 7rem;
    margin-left: 3rem;
    margin-bottom: 1rem;
}
.p-formacao{
    color: aliceblue;
    font-size: 18px;
    width: 55%;
    margin-top: 2rem;
    margin-left: 5rem;
    margin-top: 6.5rem;
}
.mack{
    grid-column: 1;
    grid-row: 1;
    margin-left: 3rem;
    margin-top: 1rem;
}
.insper{
    margin-left: 6rem;
    margin-top: 3.4rem;
}
.brasil{
    margin-top: 4.5rem;
    margin-left: 4.8rem;
}
.uk{
    margin-top: 6.5rem;
    margin-left: 9.4rem;
}
.fourth{
    margin-left: 4rem;
}
#contact{
    text-align: center;
    padding: 20px;
    background-color: #FFB800;
    color: black;
    margin-top: 100px;
    
}
html{
    scroll-behavior: smooth;
}
.linha1{
    width: 3%;
    height: 300px;
    margin-top: 4rem;
    margin-left: 1rem;
}
.insta{
    margin-right: 15rem;
    margin-bottom: 0.5rem;
}
.wpp{
    margin-right: 7rem;
    margin-top: 0.5rem;
}
.git{
    margin-left: 9rem;
    margin-bottom: 0.5rem;
}
